<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_collect_totals_before">
        <observer name="market_giftcard_set_custom_price" instance="Market\GiftCard\Observer\SetGiftCardCustomPrice" />
    </event>
</config>
